.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.shadow-sm {
  box-shadow: none !important;
}

.card {
  border: none;
}

.card-body {
  padding-right: 0;
  padding-left: 0;
}