.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.shadow-sm {
  box-shadow: none !important;
}

.card {
  border: none;
}

.card-body {
  padding-right: 0;
  padding-left: 0;
}

li:hover~li p {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-15deg);
  }
}