.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.shadow-sm {
  box-shadow: none !important;
}

.card {
  border: none;
}

.card-body {
  padding-right: 0;
  padding-left: 0;
}

li:hover~li p {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-15deg);
  }
}

.skills-icon {
  border-radius: 50%;
  width: 40px;
  animation-name: pulse;
  animation-fill-mode: both;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}