#shots {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  .shot {
    position: relative;
    display: block;
    width: 25%;
    background: $purple;
    color: white;
    text-decoration: none;
    margin-right: 14px;
    border-radius: 0.25rem !important;

    @include respond-to(handhelds) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 14px;
    }

    &:hover {
      img {
        opacity: 0.1;
      }
      .title {
        opacity: 1;
      }
    }

    .title {
      position: absolute;
      width: calc(100% - 2rem);
      padding: 1rem;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
    }

    img {
      display: block;
      max-width: 100%;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
