@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
  &:focus {
    outline: none;
  }
  .hamburger-box {
    width: 25px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $white;
    width: 38px;
    height: 4px;
  }
  &.is-active .hamburger-inner,
  &.is-active .hamburger-inner::before,
  &.is-active .hamburger-inner::after {
    background-color: $white;
  }
  &.hamburger--arrowturn.is-active .hamburger-inner {
    transform: rotate(-90deg);
  }
}
