.card {
    height: 90%;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    &:hover {
        transform: scale(1.05);
    }
    img {
        transition: all 0.5s ease-in-out;
        &:hover {
            transform: scale(1.10);
        }
    }
}

a .card {
    color: $dark;
    &:hover {
        color: $dark;
    }
}

.card-link {
    color: $blue;
}